.error {
  .modal-box();
}

.error__wrapper {
  .modal-wrapper(@input-error-border);
}

.error__message {
  .modal-message();
}

.error__button {
  @media (max-width: @mobile-width-only) {
    width: 60%;
  }

  color: @light-black;
  border: 2px solid @light-black;
  background-color: #fff;

  &:hover {
    color: @white;
    border: none;
  }

  &:active {
    border: none;
  }
}
