.error {
  .modal-box();
}

.error__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: @white;
  border: @input-error-border;

  padding-bottom: 10px;

  @media (min-width: @tablet-width) {
    max-width: 60%;
    margin: 0 auto;

    padding-bottom: 30px;
  }
}

.error__message {
  .modal-message();
}

.error__button {
  @media (max-width: @mobile-width-only) {
    width: 60%;
  }

  color: @light-black;
  border: 2px solid @light-black;
  background-color: #fff;
}
