.slider {
  position: relative;
  .flex-column();

  @media (min-width: @tablet-width) {
    padding: 28px 58px 40px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 20px;
  }
}

.slider.no-js {
  .slider__items {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 40px;

    @media (min-width: @tablet-width) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 500px;
    }
  }

  .slider__btn {
    display: none;
  }

  .slider__item {
    margin: 3px;

    width: 300px;
    height: 300px;
  }
}

.slider__items {
  .list();
  margin: 0;
  height: 200px;

  overflow: hidden;

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.slider__indicators {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 210px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    min-width: 576px;
    margin: 8px 0 0;
  }

  @media (min-width: @desktop-width) {
    margin-top: 3px;
  }
}

// Доделать инликаторы и активировать стили
// .slider__indicator {
//   width: 10px;
//   height: 10px;
//   border: 2px solid @basic-bordo;
//   border-radius: 50px;

//   &--active {
//     background-color: @basic-bordo;
//   }
// }

.slider__btn {
  position: absolute;
  top: 40%;

  &--left {
    left: 0;
  }

  &--right {
    right: 0;
  }
}

.slider__background {
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 100;
  width: 40px;
  position: absolute;
  top: 0;
  height: 100%;

  &--left {
    left: 0;
  }

  &--right {
    right: 0;
  }
}
