<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/style.min.css" />
<!-- <link rel="preload" href="fonts/arimo-medium.woff" as="font">
<link rel="preload" href="fonts/arimo-regular.woff" as="font">
<link rel="preload" href="fonts/forum-regular.woff" as="font"> -->
<link rel="icon" href="favicon.ico">
<link rel="icon" href="img/favicons/icon.svg" type="image/svg+xml">
<link rel="apple-touch-icon" href="img/favicons/180.png">
<link rel="icon" href="img/favicons/192.png" type="image/png">
<link rel="icon" href="img/favicons/512.png" type="image/png">
<title>@@title</title>
<meta name="description" content="@@description">